body {
	font-family: 'Nova Square', cursive;
}

.colour {
	background-color: #990000;
	width: 100px;
	height: auto;
}

.name {
	background-color: #292b2c;
	color: white;
	font-size: 2em;
	text-align: center;
}

h1 {
	margin-top: 60px;
}

.silver {
	background-color: #e6e6e6;
	width: 100px;
	height: 200px;
}

.btn-secondary {
	background-color: #990000;
	color: white;
}

.container {
	margin-bottom: 30px;
	margin-top: 30px;
	border: solid 2px black;
}

hr {
	border: solid 2px black;
	width: 40%;
	margin-top: 50px;
	margin-bottom: 50px;
}

#about {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
}

.information {
	background-color: #e6e6e6;
}

.dark-information {
	background-color: #292b2c;
	color: white;
}

.silver2 {
	background-color: #d9d9d9;
	width: 100px;
	height: auto;
}

.box {
	border: solid 2px black;
}

.photo {
	margin-left: 100px;
	margin-top: 100px;
	width: 200px;
	height: 250px;
	border: solid 5px black;
}

h2 {
	color: #990000;
	margin-bottom: 50px;
}

.int-image {
	width: 200px;
	height: 150px;
}

#interests {
	margin-left: 50px;
}

.bar-graph {
	width: 75%;
}

ul.bar-graph li {
	height: 35px;
	color: white;
	text-align: left;
	font-size: 14px;
	line-height: 35px;
	padding: 0 20px;
	margin-bottom: 5px;
	margin-left: 50px;
}

ul.bar-graph li {
	height: 35px;
	color: white;
	text-align: left;
	font-size: 14px;
	line-height: 35px;
	padding: 0 20px;
	margin-bottom: 5px;
	margin-left: 50px;

}

ul.bar-graph li#html {
	background-color: black;
	width: 100%;
}

ul.bar-graph li#css {
	background-color: #0d0d0d;
	width: 80%;
}

ul.bar-graph li#bootstrap {
	background-color: #1a1a1a;
	width: 90%;
}

ul.bar-graph li#javascript {
	background-color: #262626;
	width: 75%;
}

ul.bar-graph li#jquery {
	background-color: #333333;
	width: 80%;
}

ul.bar-graph li#bash {
	background-color: #404040;
	width: 90%;
}

ul.bar-graph li#git {
	background-color: #4d4d4d;
	width: 65%;
}

ul.bar-graph li#csharp {
	background-color: #595959;
	width: 50%;
}

ul.bar-graph li#python {
	background-color: #666666;
	width: 70%;
}

#skills {
	margin-left: 50px;
	margin-right: 50px;
}

.panel {
	height: 200px;
	background-color: black;
	margin-left: 60px;
	margin-right: 5px;
	margin-bottom: 20px;
}

#projects {
	margin-left: 30px;
	margin-right: 10px;
}

#about {
	margin-left: 50px;
	margin-right: 50px;
}

#projects-heading {
	margin-left: 20px;
}

.skills-list {
	list-style: square;
	color: #990000;
	font-size: 25px;
	margin-top: 20px;
}

.about-list {
	font-size: 20px;
	list-style: square;
}